.popup__input {
  width: 354px;
  font-size: 14px;
  line-height: 17px;
  margin: 0 36px 30px;
  padding: 0;
  height: 27px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 650px) {
  .popup__input {
    width: 234px;
    margin: 0 22px 30px;
  }
}






