.page {
    min-width: 320px;
    max-width: 1280px;
    background-color: #000000;
    font-family: "Inter", sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
    margin: 0 auto;
    padding: 0 200px;
}

.root {
        color: #ffffff;
        background-color: white;
}

.profile__avatar {
    border-radius: 50%;
    width: 120px;
    height: 120px;
}

.card__img {
    width: 282px;
    height: 282px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 17px;
}

.header {
  border-bottom: 1px solid #545454;
  margin-bottom: 36px;
}

.header__logo {
    margin-bottom: 41px;
    margin-top: 45px;
}