.page {
  min-width: 320px;
  max-width: 1280px;
  background-color: #000000;
  font-family: "Inter", sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  margin: 0 auto;
}

.root {
  color: #ffffff;
  background-color: #000000;
}

.profile__avatar {
  border-radius: 50%;
  width: 120px;
  height: 120px;
}

.card__img {
  width: 282px;
  height: 282px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 17px;
}

.header {
  border-bottom: 1px solid #545454;
  margin-bottom: 36px;
  padding: 0 200px;
}

.header__logo {
  margin-bottom: 41px;
  margin-top: 45px;
}

.card__title {
  font-size: 24px;
  font-style: normal;
  color: black;
  font-weight: 900;
  line-height: 29px;
  max-width: 190px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-left: 20px;
 
}

.card__btn-like {
  height: 30px;
  width: 30px;
  cursor: pointer;
  border: none;
  margin-top: 20px;
  background: transparent;
  margin-right: 15px;
}

.footer__copyright {
  color: #545454;
}

.profile__edit-btn {
  border: none;
  width: 30px;
  height: 30px;
  background: transparent;
  cursor: pointer;
  margin-top: 39px;
}

.card {
  display: flex;
  flex-direction: column;
  width: 282px;
  height: 361px;
  border-radius: 10px;
  overflow: hidden;
}

.popup {
  visibility: hidden;
}

.profile__add-btn {
  background: transparent;
  border: none;
  margin-left: 50px;
}

.card__block {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
}

.cards {
  padding: 0 200px;
}

.footer {
  padding: 0 200px;
}

.profile {
  padding: 0 200px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 47px;
}

.profile__block {
    
    
}

.profile__name {
    min-width: 294px;
    font-weight: 500;
    font-size: 42px;
    font-style: normal;
    line-height: 48px;
}

.profile__info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}


