.profile__add-btn {
  background: transparent;
  border: none;
  margin-left: 50px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .profile__add-btn {
    margin: 0;
    margin-right: 30px;
    position: relative;
    bottom: 60px;
  }
}
