.header__logo {
  margin-bottom: 41px;
  margin-top: 45px;
  width: 142px;
  height: 33px;
}

@media screen and (max-width: 650px) {
  .header__logo {
    width: 103px;
    height: 24px;
    margin: 0;
  }
}
