.header {
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  margin: 0 auto 36px;
  max-width: 880px;
}

@media screen and (max-width: 1100px) {
  .header {
    padding: 28px 27px 28px 27px;
    margin-bottom: 0;
  }
}
