.card__btn-like {
  background-image: url("../../../images/like.svg");
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  border: none;
  margin-top: 5px;
  width: 22px;
  height: 19px;
  background-color: rgba(28, 28, 28, 0);
}

.card__btn-like:hover {
  opacity: 0.5;
}
