.form__error-message {
  color: red;
  position: relative;
  font-size: 12px;
  line-height: 15px;
  display: none;
  left: 34px;
  bottom: 20px;
  max-width: 30px;
}

@media screen and (max-width: 650px) {
  .form__error-message {
    left: 16px;
    bottom: 20px;
  }
}
