.popup__form-error-message {
  color: red;
  position: absolute;
  font-size: 12px;
  line-height: 15px;
  display: none;
  left: 34px;
  bottom: 160px;
}

@media screen and (max-width: 650px) {
  .popup__form-error-message {
    left: 16px;
    bottom: 140px;
  }
}
