.profile__edit-btn {
  background-image: url("../../../images/edit.svg");
  background-repeat: no-repeat;
  margin-left: 20px;
  margin-top: 16px;
  width: 24px;
  height: 24px;
  border: 1px solid #ffffff;
  background-color: rgba(28, 28, 28, 0);
  cursor: pointer;
  background-size: 10px;
  background-position: center;
}

.profile__edit-btn:hover {
  opacity: 0.6;
}

@media screen and (max-width: 650px) {
  .profile__edit-btn {
    width: 18px;
    height: 18px;
    margin-top: 15px;
    background-size: 7px;
  }
}
