.profile__edit-btn {
  position: relative;
  right: 96px;
  border: none;
  width: 30px;
  height: 30px;
  background: transparent;
  cursor: pointer;
  margin-top: 18px;
}

.profile__edit-btn:hover {
  opacity: 0.8;
}

@media screen and (max-width: 650px) {
  .profile__edit-btn {
   right: 160px;
  }
}
