.popup__save-btn {
  background-color: #000000;
  color: #ffffff;
  margin: 18px 36px 37px;
  width: 358px;
  height: 50px;
  border-radius: 2px;
  border: none;
}

.popup__save-btn:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

@media screen and (max-width: 650px) {
  .popup__save-btn {
    width: 238px;
    height: 46px;
    font-size: 14px;
    margin: 18px 22px 25px;
    line-height: 17px;
  }
}
