.popup__close-btn {
  width: 32px;
  height: 32px;
  background: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  right: -40px;
  top: -40px;
}

.popup__close-btn:hover {
  opacity: 0.8;
}

@media screen and (max-width: 450px) {
  .popup__close-btn {
    width: 32px;
    height: 32px;
    right: 0;
  }
}
