.popup__close-btn {
  background-image: url("../../../images/close.svg");
  background-size: cover;
  width: 32px;
  height: 32px;
  position: absolute;
  top: -40px;
  right: -40px;
  background-color: rgba(28, 28, 28, 0);
  border: 0;
}

.popup__close-btn:hover {
  opacity: 0.8;
}

@media screen and (max-width: 768px) {
  .popup__close-btn {
    width: 20px;
    height: 20px;
    right: 0;
  }
}
