.profile__info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 100px;
  margin-top: 20px;
}

@media screen and (max-width: 650px) {
  .profile__info {
    grid-template-columns: repeat(2, 1fr);
  }
}
