.card__title {
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: 29px;
  max-width: 190px;
  color: #000000;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-left: 20px;
}
