.profile__job {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin: 0 0 0 20px;
  padding: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 336px;
}

@media screen and (max-width: 1100px) {
  .profile__job {
    margin-left: 70px;
  }
}

@media screen and (max-width: 650px) {
  .profile__job {
    font-size: 14px;
    max-width: 282px;
    margin-bottom: 10px;
    margin-left: 31px;
  }
}
