.card {
  display: flex;
  flex-direction: column;
  width: 282px;
  height: 361px;
  border-radius: 10px;
  overflow: hidden;
}

@media screen and (max-width: 650px) {
  .card {
    margin: 0 auto;
  }
}
